* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #eee;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #916BBF, #C996CC);
}

.container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items:  center;
    flex-direction: column;
}

.container input,
.container button{
    height: 35px;
    border-radius: 10px;
    padding: 0 8px;
    margin: 10px 0;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.container input,
.container input:focus {
    transition: .1s;
    border: none;
    outline: none;
}

.container input::placeholder {
    color: #eee;
}

.container button{
    background-color: #3D2C8D;
    transition: .1s;
    border: none;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.container input#title, 
.container input#count, 
.container input#category, 
.container button#create, 
.container button#deleteAll, 
.container input#search {
    width: 100%;
}

.container > div {
    width: 100%;
    display: flex;
}

.container > div > input,
.container > div > button {
    width: 100%;
}

.container > table {
    width: 100%;
    text-align: center;
}

.container > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 10px;
    background: #f44336;
    border-radius: 10px;
    padding: 0 30px;
    font-weight: 700;
}

.container h1 {
    margin-top: 20px;
}

.container h3 {
    margin-bottom: 50px;
}

.container button:hover {
    background-color: #40178b;
    transform: scale(1.05);
}

.container input:hover {
    transform: scale(1.05);
}

.container > div > input:nth-child(1) {
    margin-right: 10px;
}

.container > div > input:nth-child(2),
.container > div > input:nth-child(3) {
    margin: 10px;
}

.container > div > input:nth-child(4) {
    margin-left: 10px;
}

.container div button:nth-child(1) {
    margin-right: 10px;
}

.container div button:nth-child(2) {
    margin-left: 10px;
}

/* .container button#deleteAll {
    display: none;
} */